a:link {
    text-decoration: none;
    color: #000;
}

.home .header,
.order .header,
.login .header,
.add-film .header,
.oreder-ticket .header {
    height: 120px;
    background-color: #F0DBDB;
    line-height: 120px;
    box-shadow: 0px 3px 5px #bbb;
}

.home .btnlogin {
    width: 100px;
    background-color: #DBA39A;
    padding: 10px 30px;
    border-radius: 7px;
    color: #000;
}


/* Order */
.order form {
    margin-top: 50px;
}

/* ticket */
.ticket .card {
    margin-top: 150px;
    background-color: #FEFCF3;
}